:root {
  --color-gray-100: #f8f9fa;
  --color-link: #0F7C83;
  --padding-base: 16px;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

.container-rating {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

  /* navbar css */
  body {
    padding-top: 8rem; 
    font-family: var(--font-poppins);
  } 
nav, .navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 25px 25px rgba(35, 35, 35, 0.04);
  backdrop-filter: blur(56px);
  background-color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  padding: 24px 80px;
  width: 100%;
}
.navbar-brand {
  padding-left: 2rem;
}
.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}
.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-brand img {
  max-height: 55px;
}
.btn-primary {
  margin-right: 2rem;
}
.btn-custom {
  margin-right: 1rem;
  background-color: #135155;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  min-width: 53px;
}
.btn-custom:hover {
  background-color: #0f4141;
  color: white;
}

.navbar-nav, .nav-item {
  font-weight: bold;
  color: #135155;
}
.dropdown-menu {
  padding: 8px;
  gap: 10px;
}
.dropdown-menu, .dropdown-item {
  color: #4A606B;
  font-family:  var(--font-poppins);
  font-size: 16px;
  font-weight: normal;
}
/* navbar css end */

/*  */
.feature-label {
  border-radius: 50px;
  background-color: #FABB050A;
  padding: 16px;
  color: #FFC51E;     
  display: inline-flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  white-space: nowrap;
}
.feature-title {
  font-family: var(--font-poppins);
  font-weight: bold;
  font-size: 40px;
  color: #171717;
}
.feature-description {
  font-family: var(--font-poppins);
  font-weight: medium;
  font-size: 16px;
  line-height: 32px;
  color: #4A606B;
}
/*  */

/* visiond and mision */
.card-vision {
  background-color: #FFF;
  height: 249px;
  transition: all 0.4s ease;
}
.card-vision:hover {
  transform: scale(1.10);
}
.card-title {
  font-family: var(--font-poppins);
  font-weight: bold;
  font-size: 56px;
  color: #0D1A36;
  transition: color 0.3s ease;
}
.card-text {
  font-family: var(--font-poppins);
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
  color: #0D1A36;
  transition: color 0.3s ease;
}
.card-body {
  padding: 24px;
}
.card-mision {
  background-color: #0F7C83;
  background-image: url('../public/about/about-vector.png');
  background-repeat: no-repeat;
  background-position: right center; /* Mengatur posisi gambar ke kanan */
  background-size: contain; /* Agar gambar menyesuaikan ukurannya dengan card */
  height: 251px;
  width: 650px;
  z-index: 1; /* Menempatkan teks di atas gambar */
  transition: all 0.4s ease;
}
.card-mision:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}
.card-title-mision {
  font-family: var(--font-poppins);
  font-weight: bold;
  font-size: 56px;
  color: #FFF;
}
.card-text-mision, ol, li {
  font-family: var(--font-poppins);
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
  color: #FFF;
}

/* rating company */
.col-lg-4 {
  position: relative;
  padding-left: 20px; /* Tambahkan padding agar tidak menempel ke border kiri */
  transition: transform 0.5s ease, border-left-color 0.5s ease; /* Smooth transition */
  border-left: 3px solid transparent; /* Border kiri default transparan */
}
.col-lg-4 {
  border-left-color: #FFC51E; /* Border kiri menjadi warna biru saat hover */
}

.img-company-rating {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  transition: transform 0.5s ease; /* Animasi smooth untuk gambar */
}

.hero-text {
  transition: transform 0.5s ease; /* Animasi smooth untuk teks */
}

.rating-description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease; /* Smooth transition untuk paragraf */
  padding: 0 15px; /* Padding untuk paragraf */
  text-align: center; /* Agar teks berada di tengah */
}

.col-lg-4:hover {
  transform: translateX(-10px); /* Gerakkan card ke kiri */
}

.col-lg-4:hover .img-company-rating, 
.col-lg-4:hover .rating-card-text {
  transform: translateX(-10px) scale(0.95); /* Gerakkan gambar dan teks ke kiri dan kecilkan sedikit */
}

.col-lg-4:hover .text-muted {
  opacity: 1;
  max-height: 200px; /* Memunculkan paragraf saat hover */
}


.card {
  border: none; /* Menghilangkan border lainnya */
  border-top: 3px solid #FFC51E; /* Border atas dengan warna biru dan ketebalan 4px */
}
.rating-card-body {
  position: relative;
  text-align: center;
  transition: transform 0.5s ease; /* Animasi smooth untuk body */
}

.rating-card-text {
font-family: var(--font-poppins);
font-weight: bold;
font-size: 24px;
color: #0F7C83;
}

.img-about {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  transition: transform 0.5s ease; /* Animasi smooth untuk gambar */
}

.rating-card-text {
  transition: transform 0.5s ease; /* Animasi smooth untuk teks */
}

.rating-description {
  font-family: var(--font-poppins);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 15px; /* Tambahkan padding */
  text-align: center; /* Pusatkan teks */
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.card {
  transition: box-shadow 0.5s ease; /* Tambahkan animasi untuk shadow */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow saat hover */
}

.card:hover .img-about, 
.card:hover .rating-card-text {
  transform: translateY(-10px) scale(0.95); /* Bergerak ke atas dan mengecil */
}

.card:hover .rating-description {
  opacity: 1;
  max-height: 185px;
}
/* rating company end  */

/* accordion */
.accordion-button {
  background-color: #0F7C83;
  font-family: var(--font-poppins);
  color: #fff;
}

.accordion-custom {
  background-color: #fff;
  color: #4A606B;
}

.accordion-button:not(.collapsed) {
  background-color: #0F7C83; /* Keep the same background color when expanded */
  color: white;
  box-shadow: none; /* Remove box-shadow when expanded */
}

.accordion-body {
  background-color: #0F7C83; /* Keep the background color for the accordion body */
  color: white; /* Set text color to white */
}

.accordion-item {
  border: none; /* Remove the default border for accordion flush */
  font-family: var(--font-poppins);
}

.accordion-button:focus {
  box-shadow: none; /* Remove the focus shadow */
}

.accordion-button::after {
  filter: brightness(0) invert(1); /* Ensure the chevron icon is visible on dark background */
}

/* Styling untuk accordion kedua dengan class accordion-custom */
.accordion-custom .accordion-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.accordion-custom .accordion-button:not(.collapsed) {
  background-color: #fff; /* Tetap berwarna putih saat tombol di-expand */
  color: #000;
  box-shadow: none;
}

.accordion-custom .accordion-body {
  background-color: #fff; /* Background body berwarna putih */
  color: #000; /* Warna teks hitam */
  border: 1px solid #ccc; /* Border pada body */
  border-top: none; /* Hilangkan border atas untuk tampilan mulus dengan tombol */
}

.accordion-custom .accordion-button:focus {
  box-shadow: none; /* Hilangkan shadow saat fokus */
}

.accordion-custom .accordion-button::after {
  filter: brightness(0) invert(0); /* Buat ikon chevron tetap terlihat di background putih */
}

/* footer */
footer {
font-family: var(--font-poppins);
padding: 16px;
}

.footer-icon {
color: #FFD43B; 
font-size: 20px;
margin-right: 10px;
background-color: #F8F8F8;
border-radius: 50%;
padding: 10px;
display: inline-block;
width: 40px;
height: 40px;
text-align: center;
line-height: 20px;
}

.footer-title {
color: #135155;
font-weight: bold;
}

.footer-grid {
gap: 26px;
font-size: 16px;
}

.footer a,
.footer p {
text-decoration: none;
color: #4A606B;
}

/* Optional: Add some hover effects */
.footer a:hover {
color: #3b4d57;
text-decoration: underline;
}


/* responsive mobile */
@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 10px;
    display: flex;
  }
  .navbar-brand img {
    max-height: 40px;
  }
  .feature-label {
    border-radius: 50px;
    background-color: #FABB050A;
    padding: 12px;
    font-size: 10px;
    color: #FFC51E;     
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    white-space: nowrap;
  }
  .container-rating { 
  margin-top: 5rem;
  margin-bottom: 5rem;
}
  .card-vision {
    background-color: #FFF;
    height: 136px;
    width: 342px;
    transition: all 0.4s ease;
    padding-bottom: 3rem;
    margin: auto;
  }
  .card-vision:hover {
    transform: scale(0.95);
  }
  .card-mision {
    background-color: #0F7C83;
    background-image: url('../public/about/about-vector.png');
    background-repeat: no-repeat;
    background-position: right center; /* Mengatur posisi gambar ke kanan */
    background-size: contain; /* Agar gambar menyesuaikan ukurannya dengan card */
    height: 249px;
    width: 342px;
    position: relative; /* Agar teks di atas gambar */
    z-index: 1; /* Menempatkan teks di atas gambar */
    transition: all 0.4s ease;
    padding: 8px;
    margin: auto;
  } 
  .card-mision:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }
  .card-title {
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 32px;
  }
  .card-title-mision {
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 32px;
    color: #FFF;
  }
  .card-body {
    padding: 8px;
  }
  .card-text {
    font-family: var(--font-poppins);
    font-weight: medium;
    font-size: 16px;
    line-height: 26px;
    color: #0D1A36;
    transition: color 0.3s ease;
  }
  .img-about {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    transition: transform 0.5s ease; 
  }
  .rating-card-text {
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 18px;
    color: #0F7C83;
    }
    .rating-description {
      font-family: var(--font-poppins);
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0 15px; /* Tambahkan padding */
      text-align: center; /* Pusatkan teks */
      transition: opacity 0.5s ease, max-height 0.5s ease;
    }
    
}