:root {
  --color-gray-100: #f8f9fa;
  --color-link: #0F7C83;
  --padding-base: 16px;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

  /* navbar css */
  body {
    padding-top: 8rem; 
  } 
nav, .navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 25px 25px rgba(35, 35, 35, 0.04);
  backdrop-filter: blur(56px);
  background-color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  padding: 24px 80px;
  width: 100%;
}
.navbar-brand {
  padding-left: 2rem;
}
.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}
.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-brand img {
  max-height: 55px;
}
.btn-primary {
  margin-right: 2rem;
}
.btn-custom {
  margin-right: 1rem;
  background-color: #135155;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  min-width: 53px;
}
.btn-custom:hover {
  background-color: #0f4141;
  color: white;
}

.navbar-nav, .nav-item {
  font-weight: bold;
  color: #135155;
}
.dropdown-menu {
  padding: 8px;
  gap: 10px;
}
.dropdown-menu, .dropdown-item {
  color: #4A606B;
  font-family:  var(--font-poppins);
  font-size: 16px;
  font-weight: normal;
}
/* navbar css end */

/* article css start */
.category-label {
  border-radius: 50px;
  background-color: var(--color-gray-100);
  font-family: var(--font-poppins);
  padding: 8px;
  color: #135155;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.link-label {
  text-decoration: none;
  font-weight: medium;
  color: #135155;
  transition: color 0.3s ease;
}

.link-label:hover, .link-label.selected {
  color: #009EDF;
}

.article-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.article {
  font-family: var(--font-poppins);
  font-weight: bold;
}

.article-card {
  padding: var(--padding-base);
  box-shadow: 0 24px 72px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.article-card:hover {
  box-shadow: 0 24px 72px rgba(0, 0, 0, 0.20);
  transform: translateY(-5px);
}


.article-title {
  font-family: var(--font-poppins);
  font-weight: 800; /* Applies bold to all but can be overridden */
  font-size: 24px;
  color: #135155;
}
.article-description {
  font-family: var(--font-poppins);
  color: #4A606B;
  font-size: 15px;
}

.article-card img {
  max-width: 100%;
  height: auto;
}

.article-link {
  color: #0F7C83;
  font-family: var(--font-poppins);
  font-size: 15px;
  font-weight: medium;
}

.article-link:hover {
  color: #0D5156;
}

.title-content {
  font-size: 24px;
}

.title-description {
  font-size: 15px;
  font-weight: 400; /* Specific to description */
}

.title-link {
  font-family: var(--font-poppins);
  font-size: 15px;
  color: var(--color-link);
  font-weight: bold;
  text-decoration: none; /* Assuming you might not want underlines */
}

/* footer */
footer {
  background-color: #FFF;
  font-family: var(--font-poppins);
  padding: 16px;
}

.footer-icon {
  color: #FFD43B; 
  font-size: 20px;
  margin-right: 10px;
  background-color: #F8F8F8;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
}

.footer-title {
  color: #135155;
  font-weight: bold;
}

.footer-grid {
  gap: 26px;
  font-size: 16px;
}

.footer a,
.footer p {
  text-decoration: none;
  color: #4A606B;
}

/* Optional: Add some hover effects */
.footer a:hover {
  color: #3b4d57;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .navbar-brand {
    padding-left: 10px;
    display: flex;
  }
  .navbar-brand img {
    max-height: 40px;
  } 
  .article-link {
    color: #0F7C83;
    font-family: var(--font-poppins);
    font-weight: medium;
    font-size: 14px;
  } 
  .article-title {
    font-family: var(--font-poppins);
    font-weight: 800; /* Applies bold to all but can be overridden */
    font-size: 20px;
    color: #135155;
  }
  .article-description {
    font-family: var(--font-poppins);
    color: #4A606B;
    font-size: 16px;
  } 
}

@media (max-width: 768px) {
  nav,
  .navbar {
    padding-left: 35px;
    padding-right: 35px;
  }
  .navbar-brand {
    padding-left: 10px;
    display: flex;
  }
  .navbar-brand img {
    max-height: 40px;
  } 
  .article-link {
    color: #0F7C83;
    font-family: var(--font-poppins);
    font-weight: medium;
    font-size: 14px;
  } 
  .article-title {
    font-family: var(--font-poppins);
    font-weight: 800; /* Applies bold to all but can be overridden */
    font-size: 20px;
    color: #135155;
  }
  .article-description {
    font-family: var(--font-poppins);
    color: #4A606B;
    font-size: 16px;
  } 
}