body, html {
    height: 100%;
     background-color: #0F7C83;
}
.card-image img {
    width: 162px;
    height: 87px;
}
.card-title {
    font-family: poppins;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.login-card {
    padding: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/login/anuan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 10px 16px 45px -16px rgba(0,0,0,0.64);
}
.form-label {
    font-family: inter;
    font-size: 16px;
    font-weight: bold;
}
.btn-custom {
    display: block; 
    font-family: poppins;
    width: 100%;    
    padding: 10px;  
    text-align: center; 
    background-color: #135155; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}
.d-flex {
    display: flex;
}
.divider {
    width: 5px;
    background-color: #FFC51E;
    margin-right: 20px;
    height: 185px;
    align-self: stretch;
}
.flex-grow-1 {
    flex-grow: 1;
}
input[type="email"], input[type="password"] {
    font-family: poppins;
    height: 50px;
    font-size: 18px;
    padding: 10px;
}
.form-label {
    font-family: poppins;
    font-size: 16px;
    color: #4A606B;
}
#passwordIcon {
    font-size: 16px; /* Ukuran tetap */
    line-height: 1;  /* Jaga proporsi */
    display: inline-block;
}
.card-login {
    font-family: poppins;
    font-size: 14px;
    color: #4A606B;
}
.input-group .form-control placeholder {
    flex: 1 1 auto;
    height: 50px;
}
.form-check-label{ 
    font-family: poppins;
    font-size: 16px;
    font-weight: medium;
    color: #4A606B;
}
.forgot-password-label {
    color: #0F7C83;
    font-family: poppins;
    font-style: italic;
    font-size: 16px;
    font-weight: medium;
}
.forgot-password-label:hover {
    color: #4A606B;
}
.input-group .btn {
    height: 50px;
}
@media (max-width: 768px) {
    .img-fluid img {
        height: 60px;
        width: 100px;
    }
    .card-title {
        font-family: poppins;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    .login-card {
        margin: 20px;
        width: 90%;
        max-width: 360px;
    }
    .login-card {
        max-width: 360px;
        padding: 15px;
    }
    input[type="email"], input[type="password"] {
        height: 50px;
        font-size: 16px;
        padding: 10px;
    }
    .input-group .form-control placeholder {
        flex: 1 1 auto;
        height: 45px;
    }
    .form-check-label{ 
        font-family: poppins;
        font-size: 16px;
        font-weight: medium;
        color: #4A606B;
    }
    .forgot-password-label {
        color: #0F7C83;
        font-family: poppins;
        font-style: italic;
        font-size: 12px;
        font-weight: medium;
    }
    .forgot-password-label:hover {
        color: #4A606B;
    }
    .form-check-label{
        font-size: 12px;
    }
    .input-group .btn {
        height: 50px;
    }
    .form-label {
        font-family: poppins;
        font-size: 14px;
        color: #4A606B;
    }
}
